body{
    min-width:100%;
    min-height:100%;
    overflow-x: hidden;  
 }
 *{ 
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
 }
 .index-head{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height:30%;
}
 .index-head-name{
    width:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.Website-name{
    width:100%;
    height:30%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top:30px;
    margin-bottom:20px;
}
.Website-title{
    font-size: 40px;
    color: black;
    margin-left: 40px;
}
.name-left{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.name-right{
    width: 200px;
    height: 100%;
    border: 1px solid #3f3f3f;
    border-radius: 29px;
    margin-right:30px;
}
.box-left{
    width:100px;
    height:53px;
    border-right:1px solid #3f3f3f;
}
.more{
    font-size: 26px;
    color: black;
    line-height: 53px;
   display: block;
   text-align: center;
}
.Sign-out{
    font-size: 26px;
    color: black;
    margin-top:-44px;
    margin-right:20px;
    float: right;
}
#Return{
    margin-left:40px;
    border-right: 20px solid #3f3f3f;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    width:0;  
    height:0;  
}
#Details-page{
    width:100%;
    height:100%;
    background-color: #fff;
    opacity: 1;
}
#index-banner{
    height:60%;
    width:100%;
    margin-top:105px;
}
.banner-img{
   width:100%;
   height:800px;
}
.Activity-countdown{
    width:100%;
    height:100px;
    background-color: rgb(62, 121, 248);
   
}
.Activity-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width:90%;
    height:100%;
    margin:auto;
}
.Carnival-shopping{
    font-size: 28px;
    color: #fff;
}
.Count-down{    
    width: 18%;
    font-size: 20px;
    color: #fff;
}
.Picture-page-number{
    width:100px;
    height:60px;
    background-color: black;
    opacity: 0.45;
    border-radius: 26px;
    position:absolute;
    right:30px;
    top:800px;
}
.number{
    font-size: 28px;
    font-weight: 200;
    color: #fff;
    line-height: 60px;
    display:block;
    text-align: center;
}
.New-products-sale{
    width:100%;
    height:60%;
}
.New-products{
    width:100%;
    height:5%;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:flex-start;
}
.top-box{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    width:92%;
    height:65px;
    margin:auto;
}
.big-name{
    font-size:24px;
    color:black;
}
.share{
    font-size:22px;
    color:#999;
}
.Function{
    font-size:20px;
    color:#999;
    height:50px;
    line-height:50px;
    padding-left:40px;
}
.Pirce{
    padding-left:40px;
    width:100%;
    height:50px;
}
.left-Pirce{
    font-size:28px;
    color:rgb(62, 121, 248);
    font-weight: 200;
    margin-right:10px;
    line-height:50px;
}
.right-Pirce{
    font-size:28px;
    color:#999;
    font-weight: 200;
    line-height:50px;
    text-decoration: line-through;
}
.freight-box{   
    width:100%;
    height:80px;
    border-top:1px solid rgb(190, 190, 190);
    margin-top:10px;
}
.freight{
    font-size:20px;
    color:#999;
    line-height: 80px;
    padding-left:40px;
}
.gray{
    width:100%;
    height:25px;
    background-color:rgb(245, 245, 245);
}
.to_right {
    border-left: 20px solid #3f3f3f;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    padding-right:30px;
}
.color{
    width:100%;
    height:80px;
    margin-top:10px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;

}
.choice-color{
    font-size:20px;
    color:#3f3f3f;
    line-height: 80px;
    padding-left:40px;
}
.Commodity-details{
    width:100%;
    height:80px;
    border-bottom:1px solid rgb(190, 190, 190);
    margin-top:10px;
}
.details{
    font-size:28px;
    color:black;
    line-height: 80px;
    padding-left:40px;
    display: block;
    text-align: center;
}
.Detailed-pictures{
    width:100%;
}
.bottom{
    width:100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    height:105px;
}
.bottom-box{
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:100%;
}
#Contact-customer-service{
    width:12.5%;
    height:100%;
}
.customer-service{
    font-size:24px;
    color:black;
    line-height: 100px;
    display: block;
    text-align: center;
}
#Shopping-Cart{
    width:12.5%;
    height:100%;
}
#Cart{
    font-size:24px;
    color:black;
    line-height: 100px;
    display: block;
    text-align: center;
}
#add-to-cart{
    width:37.5%;
    height:100%;
    background-color: rgb(212, 212, 243);
}
#add-cart{
    font-size:24px;
    color:rgb(22, 93, 185);
    line-height: 100px;
    display: block;
    text-align: center;
}
#Immediate-purchase{
    width:37.5%;
    height:100%;
    background-color: rgb(22, 93, 185);
}
#purchase{
    font-size:24px;
    font-weight:100px;
    color:#fff;
    line-height: 100px;
    display: block;
    text-align: center;     
}
.Underlay{
    width:100%;
    height:100%;
    background-color: rgb(221, 218, 218);
}
#Customer-service-Popup{
    width:70%;
    height:580px;
    margin-bottom:100px;
    position: fixed;
    top:30%;
    left:15%;
    display:none;
    z-index:8;
}
.Customer-service-information{
    width:100%;
    height:550px;
    background-color: #fff;
    border-radius: 20px;
    border:1px solid rgb(233, 231, 231);
}
.information-content{
    width:75%;
    height:100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.service-call{
    height:35%;   
}
.Call{
    font-size:30px;
    font-weight: 400;
    color:black;
    display: block;
    text-align: center;
}
.Call-number{
    font-size:30px;
    font-weight: 400;
    color:black;
}

.get-help{
    font-size:20px;
    color:rgb(148, 147, 147);
    font-weight: 200;
    display: block;
    text-align: center;
}
.contact-box{
    width:380px;
    height:60px;
    background-color: rgb(21, 127, 247);
    margin-top:20px;
    
}
.contact{
    display: block;
    text-align: center;
    line-height:60px;
    font-size:24px;
    color:#fff;
}
.Online-time{
    font-size:20px;
    color:rgb(148, 147, 147);
    font-weight: 200;
    display: block;
    text-align: center;
    margin-top:10px;
}
#return-buttom{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color:#fff;
    opacity: 0.65;
    margin:auto;
    margin-top:40px;
}
.close{
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    margin-left: 18px;
    margin-top: 18px;
}
.close::before,.close::after{
    position: absolute;
    content: '';
    top:50%;
    left:0;
    margin-top:-1px;
    background: #000;
    width:100%;
    height:3px;
}
.close::before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.close::after{
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}
#shopping-cart-box{
    width:100%;
    height:700px;
    position: fixed;
    position: fixed;
     bottom: 0;
    background-color: #fff;
    display:none;
}
#shopping-cart-box-color{
    width:100%;
    height:700px;
    position: fixed;
    position: fixed;
     bottom: 0;
    background-color: #fff;
    display:none;
}
#Immediate-purchase-box-color{
    width:100%;
    height:700px;
    position: fixed;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    display:none;
}

#Immediate-purchase-box{
    width:100%;
    height:700px;
    position: fixed;
    position: fixed;
     bottom: 0;
    background-color: #fff;
    display:none;
}
.cart-box-top{
    width:93%;
    height:32%;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #bdbaba;
    margin:auto;
}
.small-img{
    width:200px;
    height:200px;
    background-color: #fff;
    margin-left:30px;
    margin-top:-20px;
}
.Product-img{
    width:180px;
    height:180px;
    margin-left:10px;
    margin-top:10px;
}
.Product-name{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items:flex-start;
    width:360px;
    height:200px;
    margin-right:100px;
    margin-left:30px;
}
.name-top{
    font-size:28px;
    color:black;
}
.pirce{
    font-size:28px;
    color:rgb(36, 136, 230);
}
#Close-cart{
    margin-left:100px;
}
#purchaseClose-cart{
    margin-left:100px;
}
.cart-box-Middle{
    width:93%;
    height:29%;
    display:flex;
    flex-flow:column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #bdbaba;
    margin:auto;
}
.color-box{
    width:100%;
    height:80px;
}
.color{
    font-size:26px;
    color:black;
    line-height: 80px;
}
.color-choice{
    width:100%;
    height:90px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.color-left{
    width:200px;
    height:60px;
    border:2px solid rgb(35, 111, 197);
    margin-right:25px;
}
#color-left-two{
    width:200px;
    height:60px;
    border:2px solid #3f3f3f;
    margin-right:25px;
}
#purchasecolor-left-two{
    width:200px;
    height:60px;
    border:2px solid #3f3f3f;
    margin-right:25px;
}
#purchaseblack-two{
    font-size:24px;
    color:#3f3f3f;
    line-height: 60px;
    display:block;
    text-align: center;
}
.purchasecolor-right-two{
    width:200px;
    height:60px;
    border:2px solid rgb(35, 111, 197);
    margin-right:25px;
}
.purchasesilvery-two{
    font-size:24px;
    color:rgb(35, 111, 197);
    line-height: 60px;
    display:block;
    text-align: center;
}
#black-two{
    font-size:24px;
    color:#3f3f3f;
    line-height: 60px;
    display:block;
    text-align: center;
}
.color-right-two{
    width:200px;
    height:60px;
    border:2px solid rgb(35, 111, 197);
    margin-right:25px;
}
.silvery-two{
    font-size:24px;
    color:rgb(35, 111, 197);
    line-height: 60px;
    display:block;
    text-align: center;
}
.black{
    font-size:24px;
    color:rgb(35, 111, 197);
    line-height: 60px;
    display:block;
    text-align: center;
}
#color-right{
    width:200px;
    height:60px;
    border:2px solid #3f3f3f;
}
#purchasecolor-right{
    width:200px;
    height:60px;
    border:2px solid #3f3f3f;
}
#silvery{
    font-size:24px;
    color:#3f3f3f;
    line-height: 60px;
    display:block;
    text-align: center;
}
#purchasesilvery{
    font-size:24px;
    color:#3f3f3f;
    line-height: 60px;
    display:block;
    text-align: center;
}
.cart-box-bottom{
    width:90%;
    height:19%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    margin:auto;
}
.quantity-box{
    width:50%;
    height:60px;
}
.Purchase-quantity{
    font-size:26px;
    color:rgb(22, 22, 22);
    line-height:60px;
}
.Counter{
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    align-items: center;
    width:50%;
    height:100%;
}
#reduce-box{
    width:50px;
    height:50px;
    border:1px solid #706f6f;
}
#reduce{
    font-size:26px;
    line-height:50px;
    display: block;
    text-align: center;
}
#product-number{
    font-size:26px;
    line-height:50px;
    display: block;
    text-align: center;
}
#add{
    font-size:26px;
    line-height:50px;
    display: block;
    text-align: center;
}
#count-box{
    width:50px;
    height:50px;
    border-top:1px solid #706f6f;
    border-bottom:1px solid #706f6f;
}
#add-box{
    width:50px;
    height:50px;
    border:1px solid #706f6f;
}
#Click-on-shopping-cart{
    width:100%;
    height:20%;
    background-color: rgb(61, 117, 238);
}
#Click-onText-box{
    width:50%;
    height:140px;
    margin:auto;
}
#Click-on-cart-text{
    font-size:32px;
    color:#fff;
    display: block;
    text-align: center;
    line-height: 140px;
}
#add-to-cart-box{
    width:100%;
    height:20%;
    background-color: rgb(61, 117, 238);
}
#Text-box{
    width:50%;
    height:140px;
    margin:auto;
}
#cart-text{
    font-size:32px;
    color:#fff;
    display: block;
    text-align: center;
    line-height: 140px;
}

