.index-head-name{
    width:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.Website-name{
    width:100%;
    height:30%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top:30px;
    margin-bottom:20px;
}
.Website-title{
    font-size: 40px;
    color: black;
    margin-left: 40px;
}
.name-left{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.name-right{
    width: 200px;
    height: 100%;
    border: 1px solid #3f3f3f;
    border-radius: 29px;
    margin-right:30px;
}
.box-left{
    width:100px;
    height:53px;
    border-right:1px solid #3f3f3f;
}
.more{
    font-size: 26px;
    color: black;
    line-height: 53px;
   display: block;
   text-align: center;
}
.Sign-out{
    font-size: 26px;
    color: black;
    margin-top:-44px;
    margin-right:20px;
    float: right;
}
#Return{
    margin-left:40px;
    border-right: 20px solid #3f3f3f;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    width:0;  
    height:0;  
}
.Select-address{
    width:100%;
    height:130px;
    border-bottom: 4px dashed red;
    background-color: #fff;
}
.add-address{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width:90%;
    height:100%;
    margin:auto;
}
.left{
    width:50%;
    height:100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.add-box{
    width:75px;
    height:75px;
    background-color: rgb(73, 153, 243);
    border-radius: 10px;
}
.Plus{
    line-height: 75px;
    display: block;
    text-align: center;
    font-size:38px;
    color:#fff;
}
.select{
    margin-left:30px;
    font-size:28px;
    color:#3f3f3f;
    line-height:75px;
}
.right{
    margin-left:40px;
    border-left: 20px solid #3f3f3f;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    width:0;  
    height:0;
}
.Add-receiving-body{
    margin-top:100px;
    width:100%;
    height:70%;
    background-color: rgb(248, 248, 248);
    min-height: 1636px;
}
.Personal-information-box{
    width:100%;
    height:400px;
    background-color: #fff;
}
.Personal-information{
    width:90%;
    height:100%;
    margin:auto;
}
.Personal--name-box{
    width: 100%;
    height:100px;
    border-bottom:1px solid #a3a1a1;
}
.name{
    font-size:28px;
    color:black;
    line-height:100px;
    width:20%;
}
.Consignee-Name{
    width:70%;
    height:90%;
    border: 0;
    background-color:#fff;
    font-size:26px;
    margin-left:30px;
    color:#afaeae;
    cursor:text ;
}
.Save-address-box{
    width:85%;
    height:100px;
    background-color: rgb(57, 145, 245);
    margin:30px auto;
}
.Save-address{
    font-size:26px;
    color:#fff;
    line-height: 100px;
    display: block;
    text-align: center;
}