body{
    min-width:100%;
    min-height:100%;
    overflow-x: hidden;  
 }
 *{ 
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
 }

.shopping-body{
    height: 80%; 
    width: 100%;
    min-height: 1610px;
    background-color: rgb(248, 248, 248);
}
.Pick-baby{
    width:100%;
    padding-top: 210px;
    margin-bottom: 50px;
}
.Pick-Selection{
    font-size:28px;
    color:#3f3f3f;
    display: block;
    text-align: center;
}
#Go-for-stroll{
    width:200px;
    height:70px;
    border:1px solid rgb(100, 100, 236);
    margin:auto;
}
#Go-stroll{
    font-size:28px;
    color:rgb(100, 100, 236);
    display: block;
    text-align: center;
    line-height: 70px;
    font-weight:500;
}

.index-head-name{
    width:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.Website-name{
    width:100%;
    height:30%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top:30px;
    margin-bottom:20px;
}
.Website-title{
    font-size: 40px;
    color: black;
    margin-left: 40px;
}
.name-left{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.name-right{
    width: 200px;
    height: 100%;
    border: 1px solid #3f3f3f;
    border-radius: 29px;
    margin-right:30px;
}
.box-left{
    width:100px;
    height:53px;
    border-right:1px solid #3f3f3f;
}
.more{
    font-size: 26px;
    color: black;
    line-height: 53px;
   display: block;
   text-align: center;
}
.Sign-out{
    font-size: 26px;
    color: black;
    margin-top:-44px;
    margin-right:20px;
    float: right;
}
#Return{
    margin-left:40px;
    border-right: 20px solid #3f3f3f;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    width:0;  
    height:0;  
}
#add-receiving{
    width:100%;
    height:130px;
    background-color: #fff;
}
#add{
    font-size:32px;
    color:rgb(45, 138, 243);
    line-height: 130px;
    display:block;
    text-align: center;
}